.place__title {
  margin: 0;
  font-size: 72px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.05;
}

@media screen and (max-width: 812px) {
  .place__title {
      font-size: 42px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
      font-size: 32px;
  }
}