.place__title {
  margin: 0;
  font-size: 72px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.05;

  background-image: linear-gradient(
    -230deg,
    #ffffff 0%,
    #ffffff 20%,
    #23a6d5 45%,
    #23d5ab 55%,
    #ffffff 80%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: block;
}

@media screen and (max-width: 812px) {
  .place__title {
      font-size: 42px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
      font-size: 32px;
  }
}