.cover__subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: center;
  width: 360px;
  z-index: 1;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
      font-size: 14px;
      width: 100%;
      padding: 0 16px;
  }
}