.place__paragraph-content {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 26px;
}

.place__paragraph-content:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 812px) {
  .place__paragraph-content {
      font-size: 16px;
  }
}