.header__subtitle {
  font-size: 30px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: center;
  width: 100%;
  max-width: 640px;
  margin: 32px auto 0;
}

@media screen and (max-width: 715px) {
  .header__subtitle {
      font-size: 4.3vw;
      padding: 0 24px;
      box-sizing: border-box;
  }
}

@media screen and (max-width: 425px) {
  .header__subtitle {
      font-size: 16px;
      margin-top: 16px;
  }
}