.place__link {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  text-decoration: none;
  transition: opacity .2s linear;
  display: inline-block;
  position: relative;
}

.place__link:hover {
  opacity: 80%;
}

.place__link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.place__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
