.place__link {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  transition: opacity .2s linear;
}

.place__link:hover {
  opacity: 80%;
}