.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  color: white;
  text-decoration: none;
}