.place {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.place > * {
 flex-basis: 50%;
 word-break: break-word;
}

@media screen and (max-width: 1075px) {
  .place {
      width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .place {
      width: 100%;
      box-sizing: border-box;
      padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .place {
      margin-bottom: 72px;
      padding: 0 24px;
  }
}

@media screen and (max-width: 511px) {
  .place > * {
      flex-basis: 100%;
  }
}

@media screen and (max-width: 425px) {
  .place {
      margin-bottom: 50px;
      padding: 0 16px;
  }
}