.header__title {
  font-size: 96px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 0em;
  text-align: center;
  width: 100%;
  max-width: 720px;
  margin: 56px auto 0;
}

@media screen and (max-width: 715px) {
  .header__title {
      font-size: 12vw;
      padding: 0 24px;
      box-sizing: border-box;
  }
}

@media screen and (max-width: 425px) {
  .header__title {
      margin-top: 48px;
  }
}