.place__website {
  padding-left: 40px;
  box-sizing: border-box;
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .place__website {
      padding-left: 28px;
  }
}

@media screen and (max-width: 511px) {
  .place__website {
      padding-left: 0;
      margin-top: 32px;
  }
}